# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=ed2e4b68fe5c0498e9e4d50c325f32f5

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
